        .auto-style2 {
            height: 100px;
        }
        .auto-style3 {
            height: 100px;
        }
        .auto-style8 {
            width: 160px;
            height: 50px;
        }
        .auto-style9 {
            height: 50px;
        }
        .auto-style10 {
            width: 160px;
            height: 46px;
        }
        .auto-style11 {
            height: 46px;
        }
        .auto-style12 {
            width: 112px;
            height: 50px;
        }
        .auto-style13 {
            width: 112px;
            height: 48px;
        }
        .auto-style14 {
            height: 48px;
        }
        .auto-style15 {
            width: 160px;
            height: 80px;
        }
        .auto-style16 {
            height: 80px;
        }