        .auto-style1 {
            height: 75px;
        }
        .auto-style2 {
            height: 50px;
        }
        .auto-style3 {
            height: 55px;
        }
        .auto-style4 {
            height: 43px;
        }
        .auto-style5 {
            height: 21px;
        }
        .auto-style6 {
            height: 39px;
        }